<!DOCTYPE html>
<html>

<head>
    <title>Track Prediction Form</title>
</head>

<body>
    <h1>Enter Your Preferences</h1>
    <form action="/predict" method="post">
        <label for="html_css_js">HTML/CSS/JS:</label>
        <input type="number" id="html_css_js" name="html_css_js" required><br><br>

        <label for="scikitlearn">Scikit-learn:</label>
        <input type="number" id="scikitlearn" name="scikitlearn" required><br><br>

        <label for="git">Git:</label>
        <input type="number" id="git" name="git" required><br><br>

        <label for="odoo">Odoo:</label>
        <input type="number" id="odoo" name="odoo" required><br><br>

        <label for="powerbi">PowerBI:</label>
        <input type="number" id="powerbi" name="powerbi" required><br><br>

        <label for="numpypandas">NumPy/Pandas:</label>
        <input type="number" id="numpypandas" name="numpypandas" required><br><br>

        <label for="cisco_packet_tracer">Cisco Packet Tracer:</label>
        <input type="number" id="cisco_packet_tracer" name="cisco_packet_tracer" required><br><br>

        <label for="unity">Unity:</label>
        <input type="number" id="unity" name="unity" required><br><br>

        <label for="mysql">MySQL:</label>
        <input type="number" id="mysql" name="mysql" required><br><br>

        <label for="blender">Blender:</label>
        <input type="number" id="blender" name="blender" required><br><br>

        <label for="arduinoraspberrypi">Arduino/Raspberry Pi:</label>
        <input type="number" id="arduinoraspberrypi" name="arduinoraspberrypi" required><br><br>

        <label for="mongodb">MongoDB:</label>
        <input type="number" id="mongodb" name="mongodb" required><br><br>

        <label for="large_dataset_appeal">Large Dataset Appeal:</label>
        <input type="number" id="large_dataset_appeal" name="large_dataset_appeal" required><br><br>

        <label for="health_app_contribution">Health App Contribution:</label>
        <input type="number" id="health_app_contribution" name="health_app_contribution" required><br><br>

        <label for="team_role_excitement">Team Role Excitement:</label>
        <input type="number" id="team_role_excitement" name="team_role_excitement" required><br><br>

        <label for="game_career_preference">Game Career Preference:</label>
        <input type="number" id="game_career_preference" name="game_career_preference" required><br><br>

        <label for="health_app_contribution2">Health App Contribution 2:</label>
        <input type="number" id="health_app_contribution2" name="health_app_contribution2" required><br><br>

        <label for="preferred_concepts">Preferred Concepts:</label>
        <input type="number" id="preferred_concepts" name="preferred_concepts" required><br><br>

        <label for="interactive_3d_animations">Interactive 3D Animations:</label>
        <input type="number" id="interactive_3d_animations" name="interactive_3d_animations" required><br><br>

        <label for="network_infrastructure">Network Infrastructure:</label>
        <input type="number" id="network_infrastructure" name="network_infrastructure" required><br><br>

        <label for="intelligent_techniques">Intelligent Techniques:</label>
        <input type="number" id="intelligent_techniques" name="intelligent_techniques" required><br><br>

        <label for="ecommerce_and_bi">Ecommerce and BI:</label>
        <input type="number" id="ecommerce_and_bi" name="ecommerce_and_bi" required><br><br>

        <label for="ml_models">ML Models:</label>
        <input type="number" id="ml_models" name="ml_models" required><br><br>

        <label for="advanced_data_structures">Advanced Data Structures:</label>
        <input type="number" id="advanced_data_structures" name="advanced_data_structures" required><br><br>

        <label for="database_project">Database Project:</label>
        <input type="number" id="database_project" name="database_project" required><br><br>

        <label for="software_testing">Software Testing:</label>
        <input type="number" id="software_testing" name="software_testing" required><br><br>

        <label for="scm_crm_bi_systems">SCM/CRM/BI Systems:</label>
        <input type="number" id="scm_crm_bi_systems" name="scm_crm_bi_systems" required><br><br>

        <label for="healthcare_standards">Healthcare Standards:</label>
        <input type="number" id="healthcare_standards" name="healthcare_standards" required><br><br>

        <label for="lowlevel_3d_graphics">Low-level 3D Graphics:</label>
        <input type="number" id="lowlevel_3d_graphics" name="lowlevel_3d_graphics" required><br><br>

        <label for="software_project">Software Project:</label>
        <input type="number" id="software_project" name="software_project" required><br><br>

        <label for="network_infrastructure2">Network Infrastructure 2:</label>
        <input type="number" id="network_infrastructure2" name="network_infrastructure2" required><br><br>

        <label for="microcontroller_programming">Microcontroller Programming:</label>
        <input type="number" id="microcontroller_programming" name="microcontroller_programming" required><br><br>

        <label for="business_requirements_analysis">Business Requirements Analysis:</label>
        <input type="number" id="business_requirements_analysis" name="business_requirements_analysis" required><br><br>

        <label for="efficient_algorithms">Efficient Algorithms:</label>
        <input type="number" id="efficient_algorithms" name="efficient_algorithms" required><br><br>

        <label for="system_security_reliability">System Security & Reliability:</label>
        <input type="number" id="system_security_reliability" name="system_security_reliability" required><br><br>

        <label for="system_integration">System Integration:</label>
        <input type="number" id="system_integration" name="system_integration" required><br><br>

        <label for="fullstack_web_developer">Full-stack Web Developer:</label>
        <input type="number" id="fullstack_web_developer" name="fullstack_web_developer" required><br><br>

        <label for="data_engineer">Data Engineer:</label>
        <input type="number" id="data_engineer" name="data_engineer" required><br><br>

        <label for="network_administrator">Network Administrator:</label>
        <input type="number" id="network_administrator" name="network_administrator" required><br><br>

        <label for="animator_3d">3D Animator:</label>
        <input type="number" id="animator_3d" name="animator_3d" required><br><br>

        <label for="bi_consultant">BI Consultant:</label>
        <input type="number" id="bi_consultant" name="bi_consultant" required><br><br>

        <label for="healthcare_info_systems">Healthcare Info Systems:</label>
        <input type="number" id="healthcare_info_systems" name="healthcare_info_systems" required><br><br>

        <label for="it_project_manager">IT Project Manager:</label>
        <input type="number" id="it_project_manager" name="it_project_manager" required><br><br>

        <label for="ml_engineer">ML Engineer:</label>
        <input type="number" id="ml_engineer" name="ml_engineer" required><br><br>

        <label for="track_rank1">Track Rank 1:</label>
        <input type="number" id="track_rank1" name="track_rank1" required><br><br>

        <label for="track_rank2">Track Rank 2:</label>
        <input type="number" id="track_rank2" name="track_rank2" required><br><br>

        <label for="track_rank3">Track Rank 3:</label>
        <input type="number" id="track_rank3" name="track_rank3" required><br><br>

        <label for="track_rank4">Track Rank 4:</label>
        <input type="number" id="track_rank4" name="track_rank4" required><br><br>

        <label for="track_rank5">Track Rank 5:</label>
        <input type="number" id="track_rank5" name="track_rank5" required><br><br>

        <label for="track_rank6">Track Rank 6:</label>
        <input type="number" id="track_rank6" name="track_rank6" required><br><br>

        <label for="track_rank7">Track Rank 7:</label>
        <input type="number" id="track_rank7" name="track_rank7" required><br><br>

        <label for="track_rank8">Track Rank 8:</label>
        <input type="number" id="track_rank8" name="track_rank8" required><br><br>

        <label for="subj_rank1">Subject Rank 1:</label>
        <input type="number" id="subj_rank1" name="subj_rank1" required><br><br>

        <label for="subj_rank2">Subject Rank 2:</label>
        <input type="number" id="subj_rank2" name="subj_rank2" required><br><br>

        <label for="subj_rank3">Subject Rank 3:</label>
        <input type="number" id="subj_rank3" name="subj_rank3" required><br><br>

        <label for="subj_rank4">Subject Rank 4:</label>
        <input type="number" id="subj_rank4" name="subj_rank4" required><br><br>

        <label for="subj_rank5">Subject Rank 5:</label>
        <input type="number" id="subj_rank5" name="subj_rank5" required><br><br>

        <label for="subj_rank6">Subject Rank 6:</label>
        <input type="number" id="subj_rank6" name="subj_rank6" required><br><br>

        <label for="subj_rank7">Subject Rank 7:</label>
        <input type="number" id="subj_rank7" name="subj_rank7" required><br><br>

        <label for="subj_rank8">Subject Rank 8:</label>
        <input type="number" id="subj_rank8" name="subj_rank8" required><br><br>

        <input type="submit" value="Submit">


        <input type="submit" value="Submit">
    </form>
</body>

</html>